@import nib
global-reset()

@import github_ribbon

body, html
  height 100%

body
  font 300 1em/1.2 sans-serif
  background-color darkgrey
  color white

h1
  font-size 80px
  letter-spacing: 0.1em
  text-transform: uppercase
  height 100px

h2
  font-size 20px
  padding 0
  margin-bottom 17px


.flex-center
  height 100%
  display flex
  flex-direction column
  align-items center
  justify-content center