<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{{{ css_dir }}}/main.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class='flex-center'>
        <h1>Rock'n roll</h1>
        <h2>
            CSS target location : {{{ css_dir }}}
            <br>Images target location : {{{ img_dir }}}
            <br>Javascript target location : {{{ js_dir }}}
        </h2>
    </div>

    <span id="forkongithub"><a href="https://github.com/vcarel/client-side-app-example">Fork me on GitHub</a></span>
    <script type="text/javascript" charset="UTF-8" src="{{{ js_dir }}}/main.js"></script>
</body>
</html>